@charset "UTF-8";
/* Ooooo comments woooo*/

body {
	background-color: #FFDBF4; /* Pink */
	color: #F54280; /* Blush || Color of text */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	
	
}

h2 {
	color: #F67280; /* Blush || Color of text */
	
}

h5 {
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}

p {
	color: #FEB195;
	
}

#one {
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	
}
#two {
	font-family: "Lucida Console", Monaco, monospace;
}

#three {
	font-family: "Courier New", Courier, monospace; 

}

address {

}