@charset "UTF-8";
/* Ooooo comments woooo*/

body {
	background-color: #355C7D; /* Blue */
	color: #F67280; /* Blush || Color of text */
}

h1 {
	
	
}

h2 {
	
	
}

h5 {
	font-style: italic;
	
}

p {
	
	
}

address {
	
	
}